---
import '../styles/main.scss';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SEOHead from '../components/SEOHead.astro';
import { site } from '../config/site';

const {
  title = site.title,
  description = site.description,
  ogImage = site.defaultOgImage,
  canonicalUrl,
  pageType = 'website'
} = Astro.props;
---

<html lang="en">
  <head>
    <SEOHead {title} {description} {ogImage} {canonicalUrl} {pageType} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&family=UnifrakturCook:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <SiteHeader />
    <main class="page"><slot /></main>
    <SiteFooter />
    <script type="module">
      import setupLightbox from '../utils/lightbox.ts';
      setupLightbox();
    </script>
  </body>
</html>
